/*General*/
* {
    margin: 0;
    padding: 0;
}

button, [role="button"], input[type="submit"], input[type="button"], input[type="reset"] {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
}

html, body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("tictactoe.jpg");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
    overflow-x: hidden;
}

.main-headline {
    top: 0;
    font-size: 1.25rem;
    padding: 1rem;
    background-color: rgba(97, 97, 97, 1);
    border-bottom: 0.125em solid rgb(187, 187, 187);
    justify-content: space-around;
    margin-bottom: 2rem;
}

.whosTurn {
    font-size: 1rem;
    color: #868686;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.headline {
    width: 100%;
}

/*Game-Grid*/

main {
    min-height: 100vh;
}

main>div {
    display: flex;
    justify-content: center;
}

.game-board {
    min-width: min(45rem, 75vw);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: rgb(104, 104, 104);
    margin-bottom: 5vh;
}

.box {
    border: 5px solid rgb(104, 104, 104);
    aspect-ratio: 1/1;
    background: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: #fff;
    font-size: 4em;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    cursor: pointer;
    transition: 0.05s ease-in-out;
}

.box:hover {
    filter: brightness(90%);
}

/*Configs*/

.playerConfigurations {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(104, 104, 104);
    border: 0.25em solid rgb(187, 187, 187);
    color: #fff;
    font-size: 1.5em;
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.playerConfiguration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(73, 73, 73);
    height: fit-content;
    padding: 1rem;
    border: 0.25em solid rgb(136, 136, 136);
}

.playerConfiguration:nth-child(odd) .button:hover {
    color: rgb(0, 255, 255);
    border: 0.125em solid rgb(136, 136, 136);
    cursor: pointer;
}

.playerConfiguration:nth-child(even) .button:hover {
    color: rgb(255, 20, 145);
    border: 0.125em solid rgb(136, 136, 136);
    cursor: pointer;
}

.playerConfigurations section {
    max-width: 95rem;
    margin: 0 2.5rem;
}

.playerOneColor {
    color: rgb(0, 255, 255);
}

.playerTwoColor {
    color: rgb(255, 20, 145);
}

.top {
    width: 100%;
    height: auto;
}

.bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.button {
    height: 10%;
    width: 75%;
    background: rgb(44, 44, 44);
    border: 0.125em solid rgb(87, 87, 87);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    padding: 5%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type=text] {
    font-size: 1.25em;
    width: 80%;
}

input[type=color] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonClassic {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border: 0.125em solid rgb(87, 87, 87);
    background-color: #444;
    color: aliceblue;
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1.25%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.buttonClassic:hover {
    background-color: aliceblue;
    color: #444;
}

.score {
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(224, 224, 224);
    font-size: 1em;
    background: rgb(104, 104, 104);
    border-top: 0.25em solid rgb(187, 187, 187);
    border-bottom: 0.25em solid rgb(187, 187, 187);
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.icon-tr {
    cursor: pointer;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.icon-tl {
    cursor: pointer;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
}